
.animation-area-container{
    height: 70%;
    background-color: white;
    border-radius: 10px;
}
.add-sprite-container{
    margin-top: 10px;
    height: 30%;
    background-color: white;
    border-radius: 10px;
}
.add-sprite-btn img{
    height: 60px;
    width: 60px;
    margin: 0 10px;
    padding:5px;
    margin: 10px;
    mix-blend-mode: hard-light;    

}
.sprite-btn{
    
    margin: 0 10px;
    padding:5px;
}