.motion-component{
    display: block;
    margin: 0 55px;
}
.move-motion{
    color: white;
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #4592ef;    
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
.motion-inputs{
    border-radius: 10px;
    padding-left: 5px;
}